<span data-turbo="false" class="user">
  <span class="user-avatar">
    <%= link_to image_tag(user_avatar(user), size: '40x40', class: 'rounded-circle'), user_path(user) %>
  </span>
  <span class="user-name">
    <% if request.path == user_path(user) %>
      <%= user.name %>
    <% else %>
      <%= link_to user.name, user_path(user) %>
    <% end %>
  </span>
</span>
