<div class="col-sm-6 col-md-4 mb-3">
  <div class="card">
    <img src="<%= asset_path( 'event.jpg' ) %>" />
    <div class="card-body">
      <h3><%= link_to event.title, event_path(event) %></h3>
      <h3><small><%= event.datetime %></small></h3>
      <div class="buffer-both"><%= event.address %></div>
    </div>
  </div>
</div>
